.about {
    // width: 100%;
    height: 100%;
    background-color: black;
}

.h2-about,
.h2-various {
    display: flex;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    flex-direction: column;
    color: #004FFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 12px;
}

.p-about {
    margin-bottom: 20px;
}

.p-about,
.p-various {
    display: flex;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    color: #0075FF;
}