.about {
    width: 100%;
    height: 100%;
    background-color: black;
    padding-top: 40px;
}

.h2-about,
.h2-various {
    display: flex;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    flex-direction: column;
    color: #004FFF;
    text-align: center;
    padding-bottom: 12px;
}

.p-about {
    margin-bottom: 20px;
}


.p-about,
.p-various {
    display: flex;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    transition: 0.5s;
    
    color: #0075FF;

    &:hover {
        font-weight: 500;
        font-size: 36px;
        color: #73b4ff;
    }
}

@media screen and (min-width: 1200px) {
    .h2-about {
        display: flex;
        align-items: flex-start;

        font-weight: 700;
        font-size: 44px;
        line-height: 64px;
    }

    .p-about {
        width: 349px;
        height: 240px;
        text-align: start;
        font-size: 34px;
    }

    .about-box {
        display: flex;
        justify-content: space-around;
    }

    .about-img {
        display: flex;

    }

    .img_44 {
        height: 197px;

        display: flex;
        align-self: flex-start;

        padding-top: 20px;

    }

    .img_45 {
        height: 140px;

        display: flex;
        align-self: flex-end;

        padding-left: 30px;
    }

    .about-text {
        display: flex;
        flex-direction: column;
    }

    .h2-various {

        // padding-top: 58px;

        font-weight: 700;
        font-size: 44px;
        line-height: 64px;
        align-items: flex-end;
    }

    .p-various {
        width: 349px;
        height: 261px;
        text-align: end;
        font-size: 34px;
    }

    .various-box {
        display: flex;
        justify-content: space-around;

        margin-top: 40px;
    }

    .various-img {
        display: flex;
        flex-direction: row;
    }

    .img_46 {
        height: 197px;

    }

    .img_47 {
        height: 186px;
        display: flex;
        align-self: flex-end;

        padding-left: 35px;
    }

    .various-text {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}