.logo-footer {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    
    color: #004FFF;
    }

    .p-info-footer {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        text-align: center;
        
        color: #417CFF;
        }

        .p-info-footer{
            font-family: 'Jost';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 29px;
            text-align: center;

            color: #417CFF;
            }

            .social-media{
                font-family: 'Jost';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 29px;
                text-align: center;
                
                color: #417CFF;
                }