.hero {
    height: 321px;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-h1 {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 43px;
    text-align: center;
    color: #004FFF;

    padding-top: 100px;
    padding-bottom: 82px;
}

@media screen and (min-width: 640px) {
    .hero-h1 {
        font-size: 80px;
        line-height: 151px;

        padding-top: 10px;
    }
}

@media screen and (min-width: 884px) {
    .hero-h1 {
        padding-top: 75px;
    }
}