.hero {
    height: 321px;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-h1 {
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 43px;
    text-align: center;
    color: #004FFF;

}

@media screen and (min-width: 768px) {
    .hero-h1 {
        font-size: 80px;
        line-height: 151px;

        padding-top: 10px;
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        height: 637px;
    }

}