.trand {
    width: 100%;
    height: 100%;
    background-color: black;

    padding-top: 15px;
}

.oneplusone {
    display: none;
}

.img-div-trand {
    display: flex;
}

.trand-img {
    height: 270px;
}

.h3-trand {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 58px;
    text-align: center;
    color: #004FFF;
}







