body {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  letter-spacing: 0, 3em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
  main {
    padding-left: 15px;
    padding-right: 15px;
    background-color: black;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  p, h1, h2, h3 {
    transition: 0.5;
  }
  p p, p h1, p h2, p h3:hover, h1 p, h1 h1, h1 h2, h1 h3:hover, h2 p, h2 h1, h2 h2, h2 h3:hover, h3 p, h3 h1, h3 h2, h3 h3:hover {
    font-size: 25px;
    font-weight: 900;
  }
}
header {
  width: 100%;
  height: 124px;
  background: linear-gradient(to bottom, #001648 0%, #000000 100%);
}

.logo-header {
  color: #004FFF;
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info-header {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

a {
  color: #417CFF;
}

.info-header-list {
  display: flex;
  color: #417CFF;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.info-header:last-child {
  padding-left: 27px;
}

.info-header:nth-child(2) {
  padding-left: 36px;
}

@media screen and (min-width: 640px) {
  nav {
    display: flex;
    flex-direction: row;
    padding-top: 38px;
    justify-content: space-around;
  }
  .logo-header {
    justify-content: start;
  }
  .info-header-list {
    margin-top: 0;
    justify-content: end;
  }
}
.hero {
  height: 321px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-h1 {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 43px;
  text-align: center;
  color: #004FFF;
  padding-top: 100px;
  padding-bottom: 82px;
}

@media screen and (min-width: 640px) {
  .hero-h1 {
    font-size: 80px;
    line-height: 151px;
    padding-top: 10px;
  }
}
@media screen and (min-width: 884px) {
  .hero-h1 {
    padding-top: 75px;
  }
}
.hero {
  background-image: url(../img/Rectangle-58.jpg);
}

@media screen and (min-width: 640px) {
  .hero {
    background-image: url(../img/Rectangle-98.jpg);
  }
}
.about {
  width: 100%;
  height: 100%;
  background-color: black;
  padding-top: 40px;
}

.h2-about,
.h2-various {
  display: flex;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  flex-direction: column;
  color: #004FFF;
  text-align: center;
  padding-bottom: 12px;
}

.p-about {
  margin-bottom: 20px;
}

.p-about,
.p-various {
  display: flex;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #0075FF;
}

@media screen and (min-width: 1200px) {
  .h2-about {
    display: flex;
    align-items: flex-start;
    font-weight: 700;
    font-size: 44px;
    line-height: 64px;
  }
  .p-about {
    width: 349px;
    height: 240px;
    text-align: start;
    font-size: 34px;
  }
  .about-box {
    display: flex;
    justify-content: space-around;
  }
  .about-img {
    display: flex;
  }
  .img_44 {
    height: 197px;
    display: flex;
    align-self: flex-start;
    padding-top: 20px;
  }
  .img_45 {
    height: 140px;
    display: flex;
    align-self: flex-end;
    padding-left: 30px;
  }
  .about-text {
    display: flex;
    flex-direction: column;
  }
  .h2-various {
    font-weight: 700;
    font-size: 44px;
    line-height: 64px;
    align-items: flex-end;
  }
  .p-various {
    width: 349px;
    height: 261px;
    text-align: end;
    font-size: 34px;
  }
  .various-box {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
  }
  .various-img {
    display: flex;
    flex-direction: row;
  }
  .img_46 {
    height: 197px;
  }
  .img_47 {
    height: 186px;
    display: flex;
    align-self: flex-end;
    padding-left: 35px;
  }
  .various-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.trand {
  width: 100%;
  height: 100%;
  background-color: black;
  padding-top: 15px;
}

.oneplusone {
  display: none;
}

.img-div-trand {
  display: flex;
}

.trand-img {
  height: 270px;
}

.h3-trand {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 58px;
  text-align: center;
  color: #004FFF;
}

@media screen and (min-width: 768px) {
  .img-div-trand {
    display: flex;
    justify-content: center;
  }
  .trand-img {
    height: 550px;
    width: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .oneplusone {
    display: block;
  }
  .img-div-trand {
    display: flex;
    justify-content: center;
    margin-right: 135px;
    margin-left: 135px;
  }
  .trand-img {
    background-size: cover;
    margin-right: 42px;
  }
  .titanic {
    margin-right: 0;
  }
}
.popular-novelty {
  background-color: #000000;
}

.h3-novelty {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 35.7033px;
  line-height: 52px;
  text-align: center;
  color: #004FFF;
}

.img-popular {
  height: 100%;
}

@media screen and (min-width: 550px) {
  .img-popular {
    height: 493px;
    width: 371px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 900px) {
  .div-novelty {
    display: flex;
    justify-content: center;
    margin-right: 135px;
    margin-left: 135px;
  }
  .img-popular {
    background-size: cover;
    margin-right: 39px;
  }
  .cruise {
    margin-right: 0;
  }
}
.footer {
  background: linear-gradient(to bottom, #000000 0%, #001648 100%);
}

.logo-footer {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 10px;
  color: #004FFF;
}

.p-info-footer {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #417CFF;
}

.p-info-footer {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #417CFF;
}

.social-media {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #417CFF;
}

@media screen and (min-width: 768px) {
  .logo-footer {
    font-weight: 400;
    font-size: 77px;
    line-height: 96px;
  }
  .div-info-footer {
    display: flex;
    justify-content: space-evenly;
  }
  .p-info-footer {
    font-weight: 400;
    font-size: 36px;
    line-height: 52px;
    text-align: start;
  }
  .social-media {
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
  }
}
body {
  background-color: black;
  color: #004FFF;
  font-family: "Jost";
  margin: 0;
  padding: 0;
}

.sec-logo-header {
  color: #004FFF;
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  width: calc(50% - 15px);
  padding-left: 15px;
}

.quit {
  color: #004FFF;
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  width: 50%;
  padding-left: calc(50% - 19.49px);
}

.sec-header {
  background: linear-gradient(to bottom, #001648 0%, #000000 100%);
  display: flex;
}

.sec-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 30px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.sec-container {
  display: flex;
  flex-direction: column;
}

.img-con {
  width: 344px;
  height: 486px;
}

.con-h1 {
  display: flex;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.sec-footer {
  background: linear-gradient(to bottom, #000000 0%, #001648 100%);
  height: 50px;
}/*# sourceMappingURL=main.css.map */